<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>