<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Material+Icons&display=swap" rel="stylesheet' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container" >
    <%= render 'layouts/header' %>
    <% flash.each do |type, msg| %>
      <div class="flash-<%= type %>">
        <%= msg %>
      </div>
    <% end %>
    <main class="main-content">
      <%= yield %>
    </main>

  </body>
</html>
